OPENAI_API_KEY=

# GigaChat: ключ авторизации из кабинета developers.sber.ru, не коммитить.
GIGACHAT_CREDENTIALS=
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_MODEL=GigaChat-3-Ultra
# При ошибке SSL (сертификат Минцифры) можно временно:
# GIGACHAT_VERIFY_SSL_CERTS=false
